<h1><%= @room.name %></h1>

<p>
Hello <%= @participant&.name %>! Invite additional participants with the following URL:
</p>

<input type='text' size='80' value='<%= join_room_url(RoomHashService.new(@room.id, nil).hash) %>'>

<div class='panel-container'>
  <% if @round %>
    <div class='panel'>
      <span class='panel-title'>Vote</span>
      <p>
        <%= @round.description %>
      </p>
      <div class='card-container'>
        <% ['?', 1, 2, 3, 5, 7, 11, 13, 17].each do |value| %>
          <%= form_with url: room_round_vote_index_path(@room_hash.hash, @round.id), action: :post, html: { "data-remote" => true } do |form| %>
            <%= form.hidden_field :choice, id: nil, value: value %>
            <%= form.submit(value, class: 'card') %>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class='panel' id='current-standing-panel' data-refresh-url='<%= current_standing_room_path(@room_hash.hash) %>'>
      <%= render partial: 'current_standing', locals: { room: @room, round: @round, participant: @participant } %>
    </div>

    <div class='panel'>
      <span class='panel-title'>Round Controls</span>
      <%= form_with url: reset_room_round_path(@room_hash.hash, @round.id), action: :post, html: { "data-remote" => true } do |form| %>
        <%= form.submit 'Reset' %>
      <% end %>
      <%= form_with url: unseal_room_round_path(@room_hash.hash, @round.id), action: :post, html: { "data-remote" => true } do |form| %>
        <%= form.submit 'Unseal' %>
      <% end %>
    </div>
  <% end %>

  <div class='panel'>
    <span class='panel-title'>Start New Round</span>
    <%= form_with url: room_round_index_path(@room_hash.hash), action: :post, html: { "data-remote" => true } do |form| %>
      <div>
        <%= form.text_area :description, size: '80x4' %>
      </div>
      <div class='align-right'>
        <%= form.submit 'Start' %>
      </div>
    <% end %>
  </div>
</div>

<%= javascript_pack_tag 'room' %>
