<% content_for :stylesheets do %>
  <% stylesheet_link_tag 'participant', media: 'all', 'data-turbolinks-track': 'reload' %>
<% end %>

<div class='join-room panel'>
  <div class='title'><%= @room.name %></div>
  <%= form_with url: room_participant_index_path(@room_hash.hash), method: :post do |form| %>
    <%= form.label :name, 'Your Name' %>
    <%= form.text_field :name, autofocus: 'autofocus' %>
    <%= form.submit "Join" %>
  <% end %>
</div>
